header {
        text-align: right;
}

h1 {
    font-size: 16px;
}

h3 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Bad Script', cursive; 
}
article {
    text-align: justify;
    font-family: 'Bad Script', cursive; 
}

footer {
    text-align: left;
    font-weight: bold
}